@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --animate-spin-smooth: spin-smooth 2s linear infinite;
}

@keyframes spin-smooth {
  to {
    transform: rotate(360deg);
  }
}

:root {
  --background: #fafafa;
  --foreground: #18181b;
}

.dark {
  --background: #09090b;
  --foreground: #f4f4f5;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a1a1aa;
  border-radius: 3px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #52525b;
}
